/* posizionamento del background e titolo */
header {
   background-image: url(../img/pattern.png);
   background-color: rgb(19, 155, 209);
   height: 128px;  
   background-size: 510px;    
}
#logo {
    width: 200px;
    margin-top: 68px;
}
/* titolo */
h1 {
    font-size: 70px;
    margin-top: 12px;
    margin-bottom: 0px;
}
#sottotitolo {
    font-size: 20px;
    margin-bottom: 22px;
}
#grigio {
    color: grey;
}
#azzurro {
    color: rgb(0, 225, 255);
}
#grigio_data {
    font-size: 15px;
    color: grey;
}
/* ingrandimento delle immaghini */
.tim {
   height: 666px;
}
#nomefoto {
    font-size: 11px;
    margin-bottom: 16px;
}
/* primo paragrafo e ul */
#primotesto {
    margin-bottom: 20px;
}
li {
    margin-left: -25px;
}